@model DomainModelBurger.Menu
@inject WebBurger.Services.MenuService Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    @Html.HiddenFor(m => m.Burger)
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockPiled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockPiled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Side.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dessert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dessert.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>