@model IEnumerable<DomainModelBurger.Side>

@{
    ViewData["Title"] = "Sides";
}

<h1>Sides</h1>
<a asp-action="Create" class="btn btn-primary float-right m-1">New Side</a>

<table class="table  table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SaltWeight)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StockPiled)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaltWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockPiled)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>